<p id="notice"><%= notice %></p>

<h1>High Level Group Terms</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @high_level_group_terms.each do |high_level_group_term| %>
      <tr>
        <td><%= high_level_group_term.code %></td>
        <td><%= link_to 'Show', high_level_group_term %></td>
        <td><%= link_to 'Edit', edit_high_level_group_term_path(high_level_group_term) %></td>
        <td><%= link_to 'Destroy', high_level_group_term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New High Level Group Term', new_high_level_group_term_path %>
