<%= form_with(model: low_level_term, local: true) do |form| %>
  <% if low_level_term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(low_level_term.errors.count, "error") %> prohibited this low_level_term from being saved:</h2>

      <ul>
      <% low_level_term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
