<%= form_with(model: causality, local: true) do |form| %>
  <% if causality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(causality.errors.count, "error") %> prohibited this causality from being saved:</h2>

      <ul>
      <% causality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
