<p id="notice"><%= notice %></p>

<h1>Substances</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @substances.each do |substance| %>
      <tr>
        <td><%= substance.name %></td>
        <td><%= link_to 'Show', substance %></td>
        <td><%= link_to 'Edit', edit_substance_path(substance) %></td>
        <td><%= link_to 'Destroy', substance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Substance', new_substance_path %>
