<%= form_with(model: age_group, local: true) do |form| %>
  <% if age_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(age_group.errors.count, "error") %> prohibited this age_group from being saved:</h2>

      <ul>
      <% age_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
