<%= form_with(model: clinical_trial, local: true) do |form| %>
  <% if clinical_trial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clinical_trial.errors.count, "error") %> prohibited this clinical_trial from being saved:</h2>

      <ul>
      <% clinical_trial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
