<%= form_with(model: class_warning, local: true) do |form| %>
  <% if class_warning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(class_warning.errors.count, "error") %> prohibited this class_warning from being saved:</h2>

      <ul>
      <% class_warning.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
